<nav class="navbar navbar-dark navbar-expand-md fixed-top" style="background-color:#081E3F;">
  <div class="container">
    <a class="navbar-brand" href="#" style="color:#fff;">Envo Scholar</a>
    <a class="navbar-brand" routerLink="/ontology" style="color:#fff;">Ontology</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon" style="color:rgb(128,128,128);"></span>
    </button>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="nav navbar-nav flex-grow-1 justify-content-end">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" href="http://localhost:4200/login" style="color:#fff;">
            <i class="fa fa-pencil"></i>&nbsp; Sign in</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

<div id="widget_tree"></div>
<script>
  function injectAPIKey() {
    setTimeout(function () {
      var widget_tree = $("#widget_tree").NCBOTree({
        apikey: "bcf3d9b2-a36e-4061-98e5-e119af71a496",
        ontology: "ENVO"
      });
    }, 10000);
  }

  injectAPIKey();

</script>

<iframe frameborder="0" src="http://bioportal.bioontology.org/widgets/visualization?ontology=ENVO&class=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FFOODON_03304066&apikey=bcf3d9b2-a36e-4061-98e5-e119af71a496"
  style="width: 1280px; height: 620px; margin-top: 50px;"></iframe>