#profile-body {
  background-color: rgba(0, 0, 0, 0.025);
  margin: auto;
  width: 50%;
  margin-top: 90px;
  padding-bottom: 10px;
  padding-top: 10px;
}

h2 {
  color: #b6862c;
  margin-left: 10px;
}

.submit {
  float: right;
  color: #b6862c;
  margin: 0px;
  padding: 10px 20px;
  border-radius: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}
