#info-background {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 80px;
  background-color: rgba(0, 0, 0, 0.025);
}

#info {
  padding: 15px;
}

#author,
#year {
  color: green;
  display: inline;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}

#concept-background {
  margin-top: 30px;
  margin-left: 950px;
  margin-right: 80px;
  background-color: rgba(0, 0, 0, 0.025);
}

.keyword {
  display: block;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

#website,
#save,
#cite {
  margin: 10px;
  color: #b6862c;
  background-color: #081e3f;
  border-color: #b6862c;
  border-radius: 18px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline;
}

.header {
  font-family: Arial, Helvetica, sans-serif;
}

#abstract {
  font-family: Arial, Helvetica, sans-serif;
}
