<div class="results" style="border-bottom:#e2e2e2 solid;">
  <div class="jumbotron" style="color:#222222;background-color:#ffffff;">
    <a href="#" id="article">
      <app-article-title>Loading...</app-article-title>
    </a>
    <p>
      <a href="#" class="author">
        <app-article-author>Loading...</app-article-author>
      </a>
      <i class="typcn typcn-minus-outline"></i>
      <small class="year">
        <app-article-year>Loading...</app-article-year>
      </small>
    </p>
    <p>
      <app-article-summary>Loading...</app-article-summary>
    </p>
    <p>
      <div id="popupbox" class="popupposition">
        <div id="popupwrapper">
          <div id="container">
            <h3>MLA</h3>
            <p>Casagrande, Daniel J., et al. "Sulfur in peat-forming systems of the Okefenokee Swamp and Florida Everglades:
              origins of sulfur in coal." Geochimica et Cosmochimica Acta 41.1 (1977): 161-167.</p>
            <p>
              <a href="javascript:void(0)" onclick="toggle_visibility('popupbox');">Close</a>
            </p>
          </div>
        </div>
      </div>
      <a href="#" id="subtasks">
        <i class="fa fa-file-pdf-o"></i>&nbsp;View PDF</a>

      <a href="javascript:void(0)" onclick="toggle_visibility('popupbox');" id="subtasks">
        <i class="fa fa-quote-right"></i>&nbsp;Cite</a>
      <a href="#" id="subtasks">&nbsp;
        <i class="fa fa-save"></i>&nbsp;Save</a>

  </div>
</div>